.byline {
  font-size: 1em;
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.25em;
  font-weight: lighter;
  text-align: left;
  font-family: georgia, serif;
}

p {
  font-family: georgia, serif;
  line-height: 100%;
  text-align: left;
}

.jobtitle {
  font-family: georgia, serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}

.organization {
  font-family: georgia, serif;
  font-weight: 200;
  font-size: 12px;
}

.date {
  font-family: georgia, serif;
  font-weight: 100;
  font-size: 7px;
}

.description {
  font-family: georgia, serif;
  font-weight: normal;
}

.degree {
  font-family: georgia, serif;
}

#Skills {
  font-size: 1.25em;
  font-weight: lighter;
  text-align: left;
  font-family: georgia, serif;
}

.center {
  margin-left: : auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  padding: 5px;
}

.footer {
  background-color: #C9081E;
  text-align: center;
  margin-top: 10px;
  height: 60px;
  padding-bottom: 20px;
}

.banner {
  width: 1250px;
  height: 150px;
}
