#content {
  margin: 0 auto;
  width: 900px;
}

.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1250px;
  height: 150px;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Helvetica','Arial', sans-serif;
  font-size: 12px;
}

.top-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 400px;
  height: 220px;
}

.caption-1 {
font-size: 9px;
text-align: center;
}

.byline {
  font-size: 11px;
  text-align: center;
}

blockquote {
font: 16px/24px normal helvetica, sans-serif;
font-style: italic;
margin-top: 15px;
margin-bottom: 15px;
color: red;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}

.photo-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height= 50px;
  width= 70px;
}

.caption-2 {
font-size: 9px;
text-align: center;
}

.photo-3 {
  text-align: center;
}

.caption-3 {
  font-size: 9px;
  text-align: center;
}

.photo-4 {
  text-align: center;
}

.caption-4 {
font-size: 9px;
text-align: center;
}
